#-----------------------------------------------------------
#---- phpAnvil

site.config.php

app/cache/
app/file/

#-----------------------------------------------------------
#---- phpStorm

.idea/

#-----------------------------------------------------------
#---- Windows

Thumbs.db
Desktop.ini

#-----------------------------------------------------------
#---- Mac

.DS_Store
